figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

.wp-block-embed {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}